language: python
python:
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "nightly" # currently points to 3.6-dev
install: "pip3 install -r requirements.txt && pip3 install -r dev_requirements.txt"
script: make check
